/include/ "system-conf.dtsi"
/ {
    model = "ZynqMP ZCU102 Rev1.0";
    compatible = "xlnx,zynqmp-zcu102-rev1.0", "xlnx,zynqmp-zcu102", "xlnx,zynqmp";
    chosen {
       bootargs = "earlycon clk_ignore_unused cpuidle.off=1 uio_pdrv_genirq.of_id=generic-uio mem=2G";
    };
};
&datapath_xxv_eth_subs_xxv_wrap_support_1588_2step_timer1588_subs_timer_1588_v2_0_0 {
	compatible = "xlnx,timer-1588-2.0";
	xlnx,period = <4000000>;
};
&datapath_xxv_eth_subs_xxv_wrap_xxv_ethernet_0 {
    axififo-connected = <&datapath_xxv_eth_subs_xxv_wrap_support_1588_2step_tx_ts_fifo_axi_fifo_mm_s_0>;
    xlnx,rxtsfifo = <&datapath_xxv_eth_subs_xxv_wrap_support_1588_2step_rx_ts_fifo_axi_fifo_mm_s_0>;
};
&datapath_xxv_eth_subs_subs_2_arm_mm_dma_axi_dma_0 {
    compatible = "";
};
&datapath_framer_datapath_roe_radio_ctrl_0 {
    compatible = "generic-uio";
};
&i2c1 {
    i2c-mux@74 {
        i2c@3 {
            si570_2: clock-generator3@5d { /* USER MGT SI570 - u56 */
                clock-frequency = <156250000>;
            };
        };
    };
};